.slide-element {
	width: var(--vw-100);
	height: var(--px-617);
	display: flex;
	justify-content: center;
	&__dot {
		width: var(--px-13);
		height: var(--px-13);
		border-radius: 50%;
		background-color: var(--orange--border--100);
	}
	&__dot-active {
		background-color: var(--gray--dot--100);
	}
	&__header {
		padding-left: var(--px-47);
		display: flex;
		align-items: center;
		gap: var(--px-10);
		border-bottom: var(--px-1) solid var(--orange--border--100);
		height: var(--px-52);
	}
	&__block {
		display: flex;
		padding: var(--px-40) var(--px-47);
		gap: var(--px-21);
	}
	&__title {
		&_1 {
			color: var(--white--base--100);
			font-weight: 500;
			line-height: 145%;
		}
		&_2 {
			color: var(--gray--text--100);
			font-weight: 500;
			line-height: 145%;
		}
	}
	&__block-photo {
		width: var(--px-98);
		height: var(--px-45-7);
	}
	&__center-block {
		border: var(--px-1) solid var(--orange--border--100);
		width: var(--px-1056);
		height: var(--px-393);
		flex-shrink: 0;
		position: relative;
	}
	&__left-text {
		padding: var(--px-42) var(--px-48) var(--px-42) var(--px-48);
		font-weight: 500;
		line-height: 145%;
		left: var(--px--136);
		bottom: var(--px--48);
		width: var(--px-785);
		height: var(--px-267);
		flex-shrink: 0;
		position: absolute;
		background-color: var(--white--base--100);
	}
	&__right-photo {
		object-fit: contain;
		right: var(--px--272);
		bottom: var(--px-17);
		width: var(--px-617);
		height: var(--px-288);
		flex-shrink: 0;
		position: absolute;
	}
}
