.reviews {
	position: relative;
	height: max-content;
	width: var(--prc-100);
	max-width: 2000px;
	overflow: hidden;
	&__wrapper {
		max-width: 2000px;
	}
	&__title {
		margin: var(--px-66) 0 var(--px-76) var(--px-161);
		color: var(--white--base--100);
		font-size: var(--px-50);
		font-weight: 600;
		text-transform: uppercase;
	}
	&__block {
		height: max-content;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
