.reviews {
	position: relative;
	height: fit-content;
	width: var(--prc-100);
	background: right var(--prc-0) bottom 0 / var(--vw-100) content-box
		no-repeat url(../../assets/reviews/bg.png);
	&__wrapper {
	}
	&__title {
		margin: var(--px-66) 0 var(--px-76) var(--px-161);
		color: var(--white--base--100);
		font-size: var(--px-50);
		font-weight: 600;
		text-transform: uppercase;
	}
	&__block {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&-placeholder {
		width: 300px;
		height: 400px;
		background-color: aquamarine;
	}
}
