.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: var(--px-342);
	width: var(--prc-100);
	&__wrapper {
		display: flex;
		gap: var(--px-42);
		flex-direction: column;
		align-items: center;
	}
	&__title {
		color: var(--white--base--100);
		font-size: var(--px-50);
		font-weight: 600;
		text-transform: uppercase;
	}
	&__btns {
		display: flex;
		gap: var(--px-20);
	}
	&__button {
		font-size: var(--px-17);
		font-weight: 700;
		text-transform: uppercase;
		width: var(--px-390);
		padding: var(--px-29) 0;
	}
}
